# Lab01: Basic Python I

<a href="https://www.youtube.com/playlist?list=PLlrxD0HtieHhS8VzuMCfQD4uJ9yne1mE6">Python for Beginners</a> by Microsoft

## Arithmetic

### Simple Expression

$(1 + 1) \times (\frac{6}{2}) - 10$

In [1]:
(1+1) * (6/2) - 10

-4.0

### Remainder

$7 \mod 4$

In [2]:
7 % 4

3

### Quotient

In [3]:
7 // 4

1

### Power

$2^5$

In [4]:
2 ** 5

32

## Variable, assignment, and printout

In [5]:
a = 3
print(a)

3

In [6]:
a = "peter"
print(a)

peter

In [7]:
s = 3 + 4
print("The sum of 3 and 4 is", s)

The sum of 3 and 4 is 7

## Logical comparison

In [8]:
r = 2 == 3
print(r)

False

In [9]:
r = 2 < 3
print(r)

True

In [10]:
r = 2 <= 3
print(r)

True

In [11]:
r = 2 >= 3
print(r)

False

## Define function

In [12]:
def square_of(x):
    y = x * x
    return(y)

In [13]:
a = square_of(3)
print(a)

9

In [14]:
a = square_of(a)
print(a)

81

### Define function returning two values

In [15]:
def division(a, b):
    q = a // b
    r = a % b
    return(q,r)

In [16]:
x, y = division(7, 4)
print("Quotient: ", x, ", remainder: ", y)

Quotient:  1 , remainder:  3

## List

List is an ordered sequence of objects.

In [17]:
v1 = [25, 179, True, "peter"]
print(v1)

[25, 179, True, 'peter']

### Retrieve an element from list

In [18]:
age = v1[0]
name = v1[3]
print("name: ", name, ", age: ", age)

name:  peter , age:  25

### Length of list

In [19]:
l = len(v1)
print(l)

4

### Generate a sequence of numbers by NumPy

In [20]:
import numpy as np
s = np.arange(0,10,1)
print(s)

[0 1 2 3 4 5 6 7 8 9]